signals*
*_synthesized.v
synthesis.log

# generated verilog source files
shift_register.v
toplevel.v
data_counter.v
reset_counter.v
command_register.v
testbench.v
control.v

# latex stuff
doc.aux
doc.log
