signals*
*_synthesized.v
synthesis.log

# generated verilog source files
shift_register.v
serial_interface.v
serial_interface_defines.v
data_counter.v
reset_counter.v
command_register.v
testbench.v
control.v

# generation data files
resetpattern.lua

# latex stuff
doc.aux
doc.log
